<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="fermtools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <fermtools.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Subject" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mGPUClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mMemClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mGPULoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mMemLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mGPUTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mFanLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mFanRPM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbOnSendStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbOnEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isReset" serializeAs="String">
                <value>True</value>
            </setting>
        </fermtools.Properties.Settings>
    </userSettings>
</configuration>
