<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="fermtools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <fermtools.Properties.Settings>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="MailTo" serializeAs="String">
                <value />
            </setting>
            <setting name="Subject" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mGPUClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mMemClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mGPULoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mMemLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mGPUTemp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mFanLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mFanRPM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbOnSendStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbOnEmail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="textBotName" serializeAs="String">
                <value />
            </setting>
            <setting name="textBotSendTo" serializeAs="String">
                <value />
            </setting>
            <setting name="textFermaName" serializeAs="String">
                <value />
            </setting>
            <setting name="cbTelegramOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbResponceCmd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="botChatID" serializeAs="String">
                <value />
            </setting>
            <setting name="K_gpu_clock" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="K_mem_clock" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="K_gpu_load" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="K_mem_load" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="K_gpu_temp" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="K_fan_speed_p" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="K_fan_speed_r" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="nc_Span_integration" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="nc_DelayFailover" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="nc_DelayFailoverNext" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="nc_DelayMon" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="cb_NoUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cmd_Script" serializeAs="String">
                <value>""</value>
            </setting>
        </fermtools.Properties.Settings>
    </userSettings>
</configuration>
